a{
    color: white;
}
a:hover{
    color: greenyellow;
}
#article{
    background-color: #edf8fa;
}

footer,.bg-footer{
    position: relative;
    z-index: 4;
}
#address input[type=submit] {
    outline: none;
}

#address input[type=submit]:hover {
    opacity: .9;
}

#address input[type=email], input[type=password] {
    text-align: right;
}


/********Cart Strip********/
@media {
    #address #article .cartStrip .line-icon{
        position: absolute;
        top: -30px;
        display: block;
        color: #7474ff;
        background: #ffffff;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #e5e5e9;
        box-shadow: 0 0 0 2px #ffffff;
    }
    #address #article .cartStrip .line-iconEnd{
        position: absolute;
        bottom: -0.7rem;
        right: -7px;
        display: block;
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid #e5e5e9;
        box-shadow: 0 0 0 2px #ffffff;
    }
    #address #article .cartStrip h6{
        font-family: "IRANYekanExtraBold", sans-serif;
        color: #424242;
        font-size: 1.2rem;
    }
    #address #article .cartStrip p,
    #address #article .cartStrip ul li{
        font-size: 0.9rem;
        margin-bottom: 0;
    }
    #address #article .cartStrip:before {
        content: '';
        position: absolute;
        display: block;
        width: 3px;
        background: #ffffff;
        top: -0.8rem;
        bottom: 9px;
        margin-left: 26px;
        right: -1px;
    }
    #address #article .cartStrip .titleIcon{
        font-size: 0.85rem;
        position: absolute;
        top: 0.65rem;
        display: block;
        color: #7474ff;
        background: #ffffff;
        border-radius: 10%;
        padding: 1px;
        text-align: center;
        border: 1px solid #e5e5e9;
        box-shadow: 0 0 0 2px #ffffff;
    }
}

/*<--address Tab Pane-->*/
@media {
    #address .cardStyle{
        position: relative;
        background-color: white;
        padding: 4px;
    }
    #address .cardStyle:before{
        content: "";
        width: 100%;
        height: 30px;
        background:url("../images/icon/productTopIcon.png") no-repeat 0 0;
        top: 0px;
        right: 0;
        position: absolute;
        display: inline-block;
    }
    #address .cardStyle:after{
        content: "";
        width: 100%;
        height: 60px;
        background:url("../images/icon/productSubIcon.png") no-repeat 0 0;
        bottom: -35px;
        right: 0;
        position: absolute;
        display: inline-block;
    }
}

/********address Form********/
@media {
    #address .addressOption {
        border-top-right-radius: 10% 50%;
        border-bottom-right-radius: 10% 50%;
    }
    #address .address-form {
        width: 100%;
        padding: 5px 2%;
        margin-top: 15px;
    }
    #address .itemListCart .form-control{
        border-radius: 0;
        font-size: 0.75rem;
    }
    #address .itemListCart .form-control::placeholder{
        color: #606060;
        font-size: 0.75rem;
    }
    #address .address-form label{
        display: block;
    }
    #address .itemListCart .btnAddAddress{
        margin-top: 27px;
    }
    #address .itemListCart .btnAddAddress button{
        font-family: IRANYekanExtraBold, sans-serif;
        font-size: 0.8rem;
        color: white;
        border: none;
        background-color: #ab0112;
        padding: 5px 15px;
    }
    #address .itemListCart .btnAddAddress button:hover{
        font-size: 0.8rem;
        color: white;
        background-color: #c82333;
    }
}

/********* Sending Box Date **********/
@media {
    #address #article .cartStrip .titleIconSending {
        font-size: 0.85rem;
        position: absolute;
        top: 36.5rem;
        display: block;
        color: #7474ff;
        background: #ffffff;
        border-radius: 10%;
        padding: 1px;
        text-align: center;
        border: 1px solid #e5e5e9;
        box-shadow: 0 0 0 2px #ffffff;
    }
    #address #article .sendSection,
    #address #article .reviewSection,
    #address #article .factorSection{
        font-family: "iranyekanwebmedium", sans-serif;
    }
    #address #article .sendSection .calendarDaySend{
        padding: 5px;
        border: 1px solid #ab0112;
    }
    #address #article .sendSection .calendarDaySend .clockSend{
        font-size: 0.8rem;
        border-bottom: 1px solid #e0e0e2;
    }
    #address #article .sendSection .radioDisabled{
        color: #c0c2c5;
        touch-action: none!important;
        pointer-events: none!important;
    }
    #address #article .addressClockNav{
        border-top: 1px solid #ab0112;
        border-right: 1px solid #ab0112;
        border-left: 1px solid #ab0112;
    }
    #address #article .addressClockTab{
        background-color: #edf8fa;
        display: flex;
        justify-content: center;
        margin-bottom: -2px !important;
    }
    #address #article .tabLink{
        display: flex;
        align-items: center;
    }
    #address #article .addressClockTab .active{
        background-color: #ffffff;
        border-top: 4px solid #ab0112;
    }
    #address #article .tabLink span{
        color: black;
        font-family: iranyekanwebmedium, sans-serif;
    }
    #address #article .cartStrip .titleIconSending {
        right: -34px;
        width: 19px;
        height: 19px;
        line-height: 15px;
        top: 0;
    }
    #address #article .header-Review{
        color: #424242;
        font-family: "IRANYekanExtraBold", sans-serif;
    }
    #address .reviewSection .addressOption .border{
        border: 1px solid #ab0112!important;
    }
}


/*********** Factor print ************/
@media {
    #address .factorSection .addressOption .border{
        border: 1px solid #ab0112!important;
    }
    #address #article .factorSection .labelRight{
        transform-origin: center;
        transform: rotate(-90deg);
        margin-right: -35px;
        background-color: #bfbfbf;
        font-family: IRANYekanExtraBold ,sans-serif;
        font-size: 0.9rem;
        line-height: 2;
    }
    #address #article .factorSection .detail{
        font-family: iranyekanwebbold, sans-serif;
    }

}

/******** Reserve Card ********/
@media {
    #address #article .bgCard{
        background-color: #ffffff;
        font-family: iranyekanwebbold, sans-serif;
        z-index: 3;
    }
    #address #article .reserve .bgTitle{
        margin-top: -75px;
        height: 52px;
    }
    #address #article .reserve .costOfRent{
        font-size: 1.3rem;
    }
    #address #article .reserve .costOfRent h6{
        font-size: 1.3rem;
    }
    #address #article .reserve .price{
        color: #777;
        font-size: 0.85rem;
    }
    #address #article .reserve .title{
        font-family: "IRANYekanExtraBold", sans-serif;
        color: white;
        margin-top: -58px;
    }
    #address #article .reserve .cost{
        margin-top: 8px;
        font-size: 0.85rem;
    }
    #address #article .reserve .transportPrice{
        color: #777;
        font-size: 0.8rem;
    }
    #address #article .reserve .transportPrice i{
        font-size: 0.95rem;
        color: rgba(217, 0, 22, 0.8);
    }

    #address #article .reserveBtn button{
        border-radius: 0;
        font-size: 0.9rem;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    #address #article .attention{
        font-size: 0.8rem;
        color: #777777;
    }

}

/******** image background left side ********/
@media {
    #address .img-Strip{
        position: fixed;
        bottom: -165px;
        left: 8rem;
        /*z-index: 0;*/
    }
}

/* *-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

/* Mobile devices (mobile, Max width 576px) */
@media (max-width: 576px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #address #article .reserve .title {
        margin-top: -63px;
    }
    #address #article .reserve .bgTitle{
        height: 59px;
    }
}

/* Medium devices (tablets, Max width 768px) */
@media (max-width: 768px) {
    /******** cartStrip ********/
    #address #article .cartStrip .line-icon {
        right: -1rem;
        width: 26px;
        height: 26px;
        line-height: 27px;
    }
    #address #article .cartStrip .titleIcon{
        right: -25px;
        width: 16px;
        height: 16px;
        line-height: 10px;
    }
    #address .addressOption {
        border-radius: 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /******** cartStrip ********/
    #address #article .cartStrip .line-icon{
        right: -1rem;
        width: 30px;
        height: 30px;
        line-height: 32px;
    }
    #address #article .cartStrip .titleIcon{
        right: -26px;
        width: 19px;
        height: 19px;
        line-height: 10px;
    }
    #address #article .cartStrip .titleIcon i{
        font-size: 0.7rem;
    }
    #address #article .reserve .bgTitle{
        height: 65px;
    }
    #address #article .cartStrip .titleIconSending{
        right: -26px;
        width: 19px;
        height: 19px;
        line-height: 15px;
    }
    #address #article .cartStrip .titleIconSending {
        right: -36px;
    }
}

/* large devices (tablets, Max width 992px) */
@media (max-width: 992px){
    #address .tab-content {
        padding: 0 0 0.5rem;
    }

    #address #article .reserve .price{
        font-size: 1.1rem;
    }
    #address #article .reserve .cost{
        font-size: 1.1rem;
    }
    #address #article .reserve .transportPrice{
        font-size: 1rem;
    }
    #address #article .reserve .transportPrice i{
        font-size: 1.3rem;
    }
    #address #article .reserveBtn button{
        font-size: 1.3rem;
    }
    #address #article .attention{
        font-size: 1rem;
    }

    .addressOption .nav a {
        font-size: 0.83rem;
    }

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #address #article .itemListCart .numKala{
        height: 28px;
    }
    #address #article .itemListCart .numKala .input-group{
        height: 28px;
    }
    #address #article .reserve .bgTitle {
        height: 50px;
    }
    #address #article .reserve .title {
        margin-top: -68px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #address #article .reserve .bgTitle {
        height: 64px;
    }
}




/**** Animation ****/
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}