
/*IRANSans Font*/
@font-face {font-family: 'IRANSansRegular';
    src: url(../fonts/iransans/IRANSans.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANSans_UltraLight';
    src: url(../fonts/iransans/IRANSans_UltraLight.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANSans_Light';
    src: url(../fonts/iransans/IRANSans_Light.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANSans_Medium';
    src: url(../fonts/iransans/IRANSans_Medium.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANSans_Bold';
    src: url(../fonts/iransans/IRANSans_Bold.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}


/*IRAN Yekan Font*/
@font-face {font-family: 'IRANYekanRegular';
    src: url(../fonts/IRANYekan/IRANYekanRegular.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANYekanThin';
    src: url(../fonts/IRANYekan/IRANYekanThin.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANYekanLight';
    src: url(../fonts/IRANYekan/IRANYekanLight.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANYekanMedium';
    src: url(../fonts/IRANYekan/IRANYekanMedium.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANYekanBold';
    src: url(../fonts/IRANYekan/IRANYekanBold.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}

@font-face {font-family: 'IRANYekanExtraBold';
    src: url(../fonts/IRANYekan/IRANYekanExtraBold.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANYekanBlack';
    src: url(../fonts/IRANYekan/IRANYekanBlack.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}





html{
    font-size: 12px;
}

body {
    background-color: white;
    font-family: IRANYekan;
    max-width: 1920px;
}

a {
    text-decoration: none;
    font: 12px IRANYekan, sans-serif;
}

form{
    background: rgba(45, 28, 179, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    width: fit-content;
}
form>input{
    outline: none;
    background-color: transparent;
    color: white;
    border: none;
    margin-bottom: 3px;
}
form>input::placeholder{
    color: white;
    text-align: center;
    font-size: 0.9rem;
}
input:focus {
    text-indent: 10px;
}

/* Header */

header{
    /* images 19 */
    /*background: url(../images/Banner/toy.jpg);*/
    /*height: 500px;*/
}

header .mainNav{
    position: relative;
    background: #2A41E8;
    color: white;
}


header .mainNav ul>li>a {
    color: white;
    font-family: "IRANYekan ExtraBold";
}


/* category */
.category {
    background-color: #fdeaea;
    /*margin-top: 80px;*/
    border-radius: 0 0 30% 30% / 0 0 40% 40%;
}

.category>form>a>i {
    vertical-align: sub;
}

.category ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

.category li {
    float: right;
    padding: 5px;
}

.category li a {
    color: black;
    text-align: center;
    padding: 3px;
    text-decoration: none;
}

.category li a:hover {
    background-color: #111111;
}





/* *-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

/* Mobile devices (mobile, Max width 576px) */
@media (max-width: 576px) {
    .category>form>input{

    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html{
        font-size: 13px;
    }
    p{
        color:green;
    }
}

/* Medium devices (tablets, Max width 768px) */
@media (max-width: 768px) {
    header .nav-small {
        background: #2A41E8;
        width: 100%;
        z-index: 2;
    }
    header .toggler{
        height: 2rem;
        background-color: transparent;
        border: none;
        outline:none;
    }

    header ul {
        position: absolute;
        list-style-type: none;
        background-color: rgb(46, 103, 202);
        top: -8.1rem;
        width: 35%;
        padding: 20px 20px 11px 20px;
        border-radius: 0 0 0 10px;
        z-index: 0;
        transition: 1500ms;
    }
    header ul LI{
        margin-bottom: 15px;
        border-bottom: 1px solid darkgray;
    }
    .category>form{
        position: absolute;
        top: 1rem;
        right: 37vw;
        z-index: 5;
    }
    .category>form>input{
        width: 143px;
        height: 25px;
    }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html{
        font-size: 14px;
    }
    header ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        justify-content: center;
    }

    header .navbarCollapse>li {
        float: right;
        padding: 5px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html{
        font-size: 15px;
    }
    p{
        color:blue;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html{
        font-size: 16px;
    }
    p{
        color:brown;
    }
}

