
/*IRANSans Font*/
@font-face {font-family: 'IRANSansRegular';
    src: url(../fonts/iransans/IRANSans.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANSans_UltraLight';
    src: url(../fonts/iransans/IRANSans_UltraLight.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANSans_Light';
    src: url(../fonts/iransans/IRANSans_Light.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANSans_Medium';
    src: url(../fonts/iransans/IRANSans_Medium.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANSans_Bold';
    src: url(../fonts/iransans/IRANSans_Bold.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}


/*IRAN Yekan Font*/
@font-face {font-family: 'IRANYekanRegular';
    src: url(../fonts/IRANYekan/IRANYekanRegular.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANYekanThin';
    src: url(../fonts/IRANYekan/IRANYekanThin.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANYekanLight';
    src: url(../fonts/IRANYekan/IRANYekanLight.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANYekanMedium';
    src: url(../fonts/IRANYekan/IRANYekanMedium.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANYekanBold';
    src: url(../fonts/IRANYekan/IRANYekanBold.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}

@font-face {font-family: 'IRANYekanExtraBold';
    src: url(../fonts/IRANYekan/IRANYekanExtraBold.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'IRANYekanBlack';
    src: url(../fonts/IRANYekan/IRANYekanBlack.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}





html{
    font-size: 16px;
}

body {
    background-color: white;
    font-family: IRANYekan;
}

a {
    text-decoration: none;
    font: 12px IRANYekan, sans-serif;
}

/* Header */

header{
    /* image 19 */
    /*background: url(../image/Banner/toy.jpg);*/
    /*height: 500px;*/
}

header .mainNav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #2A41E8;
    color: white;
}

header .toggler{
    height: 2rem;
    background-color: transparent;
    border: none;
}

header .mainNav ul>li>a {
    color: white;
    font-family: "IRANYekan ExtraBold";
}

.category ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

.category li {
    float: right;
    padding: 5px;
}

.category {
    background-color: #fdeaea;
    margin-top: 80px;
}

.category li a {
    color: black;
    text-align: center;
    padding: 3px;
    text-decoration: none;
}

.category li a:hover {
    background-color: #111111;
}





/* *-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    p{
        color:green;
    }
}

/* Medium devices (tablets, Max width 768px) */
@media (max-width: 768px) {
    header ul {
        position: absolute;
        list-style-type: none;
        background-color: #0070f1;
        top: 55px;
        padding: 15px 20px 20px 20px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    header ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        justify-content: center;
    }

    header .navbarCollapse>li {
        float: right;
        padding: 5px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    p{
        color:blue;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    p{
        color:brown;
    }
}