
/*Inter Font*/
@font-face {font-family: 'InterRegular';
    src: url(../fonts/Inter/Inter-Regular-slnt=0.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'InterBlack';
    src: url(../fonts/Inter/Inter-Black-slnt=0.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'InterLight';
    src: url(../fonts/Inter/Inter-ExtraLight-slnt=0.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'InterThin';
    src: url(../fonts/Inter/Inter-Thin-slnt=0.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'InterMedium';
    src: url(../fonts/Inter/Inter-Medium-slnt=0.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'InterBold';
    src: url(../fonts/Inter/Inter-Bold-slnt=0.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}
@font-face {font-family: 'Inter-Variable';
    src: url(../fonts/Inter/Inter-VariableFont_slnt,wght.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    font-weight: auto;
}


body {
    background-color: white;
    font-family: Inter-Variable;
}

a {
    text-decoration: none;
    font: 12px Inter-Variable, sans-serif;
}

